.img_background{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    width: 25%;
}

.forefront{
    position: absolute;
    top: 25px;
    left: 100px;
    z-index: 2;
    width: 25%;
}

.text{
    position: absolute;
    top: 25px;
    left: 100px;
    z-index: 3;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}