p{
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    color: red;
    font-size: .6em;
    height: 1em;
}

.super{
    position: relative;
    top: -1ex;
}

.sub{
    position: relative;
    bottom: -1ex;
}

.desplizq{
    position: relative;
    left: -1ex;
}

.desplder{
    position: relative;
    right: -1ex;
}